In [1]:
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt

In [2]:
dh = pd.read_csv(r"F:\dektop241205\health_app\thyroidcancer\thyroid_cancer_risk_data.csv")
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.expand_frame_repr', False)

In [3]:
dh.head()

   Patient_ID  Age  Gender  Country  Ethnicity Family_History Radiation_Exposure Iodine_Deficiency Smoking Obesity Diabetes  TSH_Level  T3_Level  T4_Level  Nodule_Size Thyroid_Cancer_Risk Diagnosis
0           1   66    Male   Russia  Caucasian             No                Yes                No      No      No       No       9.37      1.67      6.16         1.08                 Low    Benign
1           2   29    Male  Germany   Hispanic             No                Yes                No      No      No       No       1.83      1.73     10.54         4.05                 Low    Benign
2           3   86    Male  Nigeria  Caucasian             No                 No                No      No      No       No       6.26      2.59     10.57         4.61                 Low    Benign
3           4   75  Female    India      Asian             No                 No                No      No      No       No       4.10      2.62     11.04         2.46              Medium    Benign
4           5   35  Female  Germany    African            Yes                Yes                No      No      No       No       9.10      2.11     10.71         2.11                High    Benign

In [4]:
x = dh.drop(columns=['Patient_ID',"Country"	,"Ethnicity","Diagnosis","Thyroid_Cancer_Risk"],axis=1)

y = dh["Thyroid_Cancer_Risk"]

In [5]:
x.head()

   Age  Gender Family_History Radiation_Exposure Iodine_Deficiency Smoking Obesity Diabetes  TSH_Level  T3_Level  T4_Level  Nodule_Size
0   66    Male             No                Yes                No      No      No       No       9.37      1.67      6.16         1.08
1   29    Male             No                Yes                No      No      No       No       1.83      1.73     10.54         4.05
2   86    Male             No                 No                No      No      No       No       6.26      2.59     10.57         4.61
3   75  Female             No                 No                No      No      No       No       4.10      2.62     11.04         2.46
4   35  Female            Yes                Yes                No      No      No       No       9.10      2.11     10.71         2.11

In [6]:
x['Gender'] = x['Gender'].map({"Male": 1, "Female": 0})

In [7]:
x = x.replace({'Yes': 1, 'No': 0})

In [8]:
x.head()

   Age  Gender  Family_History  Radiation_Exposure  Iodine_Deficiency  Smoking  Obesity  Diabetes  TSH_Level  T3_Level  T4_Level  Nodule_Size
0   66       1               0                   1                  0        0        0         0       9.37      1.67      6.16         1.08
1   29       1               0                   1                  0        0        0         0       1.83      1.73     10.54         4.05
2   86       1               0                   0                  0        0        0         0       6.26      2.59     10.57         4.61
3   75       0               0                   0                  0        0        0         0       4.10      2.62     11.04         2.46
4   35       0               1                   1                  0        0        0         0       9.10      2.11     10.71         2.11

In [9]:
# y.head().value_counts()
# y = y.replace({'High': 2, 'Medium': 1,"Low":0})

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
scalar = StandardScaler()
x = scalar.fit_transform(x)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
randomstate = 0
best_score = 0
for randomstate in range(1, 1001):
    x_train, x_test, y_train, y_test = train_test_split(
        x, y, test_size=0.2, random_state=randomstate
    )
    clasifirer = LogisticRegression()
    clasifirer.fit(x_train, y_train)
    accuracyScoe_x_test = clasifirer.predict(x_test)
    score = accuracy_score(accuracyScoe_x_test, y_test)
    if score > best_score:
        best_score = score
        best_randomstate = randomstate
print(f"best random state:{best_randomstate}")
print(f"best score:{best_score * 100}")