In [45]:
import pandas as pd

In [46]:
dh = pd.read_csv(r"F:\dektop241205\health_app\healthinsurance2\Health_insurance.csv")

In [47]:
dh.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [48]:
dh['sex'] = dh['sex'].map({"male": 1, "female": 0})
dh['smoker'] = dh['smoker'].map({"yes": 1, "no": 0})

In [49]:
dh["region"].value_counts()

region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

In [50]:
dh['region'] = dh['region'].map({"southeast":   1
,"southwest"    :2,
"northwest"   : 3,
"northeast"   : 4})

In [51]:
import seaborn as sn
import matplotlib.pyplot as plt
dh.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       2  16884.92400
1   18    1  33.770         1       0       1   1725.55230
2   28    1  33.000         3       0       1   4449.46200
3   33    1  22.705         0       0       3  21984.47061
4   32    1  28.880         0       0       3   3866.85520

In [52]:
dh = dh[dh["bmi"] <= 45]
dh = dh[dh["bmi"] >= 20]

In [53]:
dh = dh[dh["charges"] <= 45000]
dh["charges"] = dh["charges"].round().astype(int)
dh["charges"]
# sn.boxenplot(x ="charges",data=dh)
# plt.show()

0       16885
1        1726
2        4449
3       21984
4        3867
        ...
1333    10601
1334     2206
1335     1630
1336     2008
1337    29141
Name: charges, Length: 1242, dtype: int32

In [54]:
dh.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [55]:
dh.shape
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [56]:
scalar = StandardScaler()
x = dh.drop(columns="charges",axis=1)
y=dh["charges"]
x = scalar.fit_transform(x)
y.head()

0    16885
1     1726
2     4449
3    21984
4     3867
Name: charges, dtype: int32

In [59]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import  LinearRegression
from sklearn.linear_model import  Lasso

from sklearn.metrics import r2_score

for randomstate in range(1, 1001):
    x_train, x_test, y_train, y_test = train_test_split(
        x, y, test_size=0.2, random_state=randomstate
    )
    clasifirer = Lasso(alpha=3)
    clasifirer.fit(x_train, y_train)
    accuracyScoe_x_test = clasifirer.predict(x_test)
    score = r2_score(y_test,accuracyScoe_x_test)
    if score > best_score:
        best_score = score
        best_randomstate = randomstate
print(f"best random state:{best_randomstate}")
print(f"best score:{best_score}")

best random state:725
best score:0.8054727231052425

In [61]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import  Ridge

from sklearn.metrics import r2_score

for randomstate in range(1, 1001):
    x_train, x_test, y_train, y_test = train_test_split(
        x, y, test_size=0.2, random_state=randomstate
    )
    clasifirer = Ridge(alpha=2)
    clasifirer.fit(x_train, y_train)
    accuracyScoe_x_test = clasifirer.predict(x_test)
    score = r2_score(y_test,accuracyScoe_x_test)
    if score > best_score:
        best_score = score
        best_randomstate = randomstate
print(f"best random state:{best_randomstate}")
print(f"best score:{best_score}")

best random state:725
best score:0.8054727231052425