In [93]:
import numpy as np
import pandas as pd 
from sklearn.linear_model import  LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [94]:
dh = pd.read_csv("C:/Users/aryan/OneDrive/Desktop/health_app/insurance_cost/insurance.csv")

In [95]:
dh.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [96]:
dh["sex"].value_counts()

sex
male      676
female    662
Name: count, dtype: int64

In [97]:
dh.replace({"sex":{"male":1,"female":0}},inplace=True)

In [98]:
dh.replace(
    {"region": {"southeast": 0, "southwest": 1, "northwest": 2, "northeast": 3}},
    inplace=True,
)
dh.replace({"smoker":{"yes":1, "no":0}},inplace=True)

In [99]:
dh.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       0   1725.55230
2   28    1  33.000         3       0       0   4449.46200
3   33    1  22.705         0       0       2  21984.47061
4   32    1  28.880         0       0       2   3866.85520

In [100]:
x = dh.drop(columns="charges",axis=1)
y=dh["charges"]

In [101]:
x.head()

   age  sex     bmi  children  smoker  region
0   19    0  27.900         0       1       1
1   18    1  33.770         1       0       0
2   28    1  33.000         3       0       0
3   33    1  22.705         0       0       2
4   32    1  28.880         0       0       2

In [111]:
randomstate = None
best_score = 0

from sklearn import svm
from sklearn.metrics import accuracy_score
for randomstate in range(1, 2001):
    x_train, x_test, y_train, y_test = train_test_split(
        x, y, stratify=None, test_size=0.2, random_state=randomstate
    ) 
    # model = LogisticRegression()
    # model.fit(x_train, y_train)
    model = LinearRegression()
    model.fit(x_train, y_train)
    x_test_prediction = model.predict(x_test)
    traningacc = metrics.r2_score( y_test, x_test_prediction)
    if traningacc > best_score:
        best_score = traningacc
        best_randomstate = randomstate

print(f"best random state:{best_randomstate}")
print(f"best score:{best_score}")

best random state:367
best score:0.8327961512425575

In [112]:
# 1014
x_train, x_test, y_train, y_test = train_test_split(
    x, y, stratify=None, test_size=0.2, random_state=367
)

model = LinearRegression()
model.fit(x_train, y_train)
x_test_prediction = model.predict(x_test)
traningacc = metrics.r2_score(y_test, x_test_prediction)
traningacc

0.8327961512425575

In [113]:
import pickle

with open('insurance_model.pkl', 'wb') as f:
    pickle.dump(model, f)
    print('Model saved successfully.')

Model saved successfully.